@import '../../utils/variables.scss';

.nav {
	background-color: #000;
	position: relative;
	.searchWidget {
		position: absolute;
		width: 100%;
		background-color: #1a1a1a;
		z-index: 1;
		transition: all 0.3s ease-in;
		height: 200%;
		visibility: hidden;
		z-index: 1;
		opacity: 0;

		&.active {
			visibility: visible;
			opacity: 1;
		}
		.searchForm {
			position: absolute;
			top: 50%;
			margin-top: 1rem;
			width: 100%;
			text-align: center;

			input {
				width: 30%;
				@include respond(md) {
					width: 60%;
				}
				border: none;
				border-bottom: 1px solid rgba(145, 145, 156, 0.3);
				background-color: transparent;
				padding-bottom: 10px;
				outline: none;
				color: #fff;
				font-size: 1.2rem;
			}
			input:placeholder-shown ~ button svg {
				opacity: 0.7;
			}
			button {
				background-color: transparent;
				border: none;
				outline: none;
				svg {
					position: relative;
					left: -30px;
					color: #fff;
					opacity: 1;
					transition: 0.5s all ease-in-out;
					cursor: pointer;
				}
			}
		}
	}

	.cartWidget {
		position: absolute;
		top: 100%;
		width: 25%;
		right: 5%;
		z-index: 2020;
		opacity: 0;
		transition: 0.5s all ease-in-out;
		visibility: hidden;
		&.active {
			visibility: visible;
			opacity: 1;
			right: 0;
		}
	}
	.content {
		display: flex;
		padding: 30px 0;
		border-bottom: 1px solid rgba(145, 145, 156, 0.3);
		position: relative;
		z-index: 2;

		.brand {
			text-decoration: none;
			color: #fff;
			h1 {
				margin: 0;
			}
		}
		.links {
			padding: 0;
			margin: 0;
			list-style: none;
			flex-grow: 1;
			text-align: right;
			align-self: flex-end;
			a {
				display: inline-block;
				text-decoration: none;
				opacity: 0.8;
				padding-top: 6px;
				border-top: 1px solid transparent;
				transition: 0.3s ease-in-out all;
				color: #fff;
				&:hover {
					opacity: 1;
					border-color: #fff;
				}
				&.active {
					opacity: 1;
					border-color: #fff;
				}
				&:not(:last-child) {
					margin-right: 2rem;
				}
			}
		}
		.icons {
			margin-left: 1.6rem;
			color: #fff;
			align-self: flex-end;
			.cartIcon {
				display: inline-block;
				position: relative;
				span {
					position: absolute;
					right: 0.6rem;
					background-color: $color-red;
					color: #fff;
					font-size: 0.8rem;
					width: 1rem;
					height: 1rem;
					text-align: center;
					border-radius: 50%;
					line-height: 1rem;
					cursor: pointer;
				}
			}
			svg {
				opacity: 0.8;
				vertical-align: middle;
				cursor: pointer;
				transition: 0.3s all ease-in-out;
				align-self: flex-end;
				&:not(:last-child) {
					margin-right: 0.8rem;
				}
				&.active {
					opacity: 1;
				}
			}
			svg {
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
